<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="Медицинский туризм" />
	<meta name="description" content="Медицинский туризм в странах Европы и США">
	<meta name="author" content="Landing.ua">

	<title>DocTravel | Вся зарубежная медицина на одном сайте</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=1280">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
		<script type="text/javascript" src="rvl/jquery.reveal.js"></script>

				<!-- Attach our CSS -->
	  	<link rel="stylesheet" href="rvl/reveal.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="js/slick/slick.css"/>
	<link rel="stylesheet" href="js/flex-slider/flexslider.css"/>
	<link rel="stylesheet" href="js/owl-carousel/owl.carousel.css"/>
	<link rel="stylesheet" href="js/owl-carousel/owl.theme.css"/>
	<link rel="stylesheet" href="js/owl-carousel/owl.transitions.css"/>
	<link rel="stylesheet" href="css/prettyphoto.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- SKIN -->
	<link rel="stylesheet" title="blue" href="css/colors/skin-blue2.css"/>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- MODERNIZR -->
	<script src="js/modernizr.custom.js"></script>

</head>
<body id="page-top">

<div id="body">

	<!-- HEADER -->
	<header>
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-top">
			<div class="container">
				<div class="col-md-12">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header page-scroll">
						<a class="navbar-brand" href="./">DocTravel</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a target="_blank" href="https://www.facebook.com/pages/Doctravel/897127303655217">FB</a></li>
							<li><a target="_blank" href="http://vk.com/doctravel">VK</a></li>

						<li style="margin-top: 22px; color: #fff;">info@doctravel.com</li>
								<li><a href="/indexru">Русский</a></li>
								<li><a href="/">English</a></li>
							<li><a href="javascript:void(0)" data-reveal-id="myModal" data-animation="fade">Скачать презентацию</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</div>
		</nav>
	</header>

	<!-- INTRO -->
	<section id="intro" class="intro3">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8">
							<h2 style="text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.46);">Ключ ко всей <br> зарубежной медицине <br>  у вас на экране</h2>
<p style="
    width: 660px;
    padding-right: 0;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.4);
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
">Сервис комплексного поиска, планирования и осуществления лечения за рубежом. <br>
5 минут – время от начала пользования сайтом до получения готовых решений.
</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- INTRO -->

		<!-- FAQ CONTENT
	<div class="faq-content" style="padding: 40px 0 40px;">
		<div class="container">
			<div class="row">
				<div class="content-head">
					<h3>Про сервис DocTravel</h3>
					<p>Несколько слов о сервисе от основателей</p>
				</div>
				<div class="faq-wrap">
					<div class="col-md-3" style="text-align: center">
					<img style="width: 200px;" src="http://lounge.kiev.ua/images/shots/02.jpg">
					<h2>Иван Иванов</h2>
					<p class="lead">«Этот сервис обещает быть подобием booking.com, но только в планировании лечения за рубежом».</p>
				</div>
					<div class="col-md-3" style="text-align: center">
					<img style="width: 200px; " src="http://lounge.kiev.ua/images/shots/03.jpg">

					<h2>Иван Иванов</h2>
					<p class="lead">«Быстро, эффективно, объективно и, главное, все на одном сайте – это то, чего сейчас так не хватает при планировании лечения за рубежом».</p>
					<div class="clearfix space10"></div>
				</div>
					<div class="col-md-6 video-wrap">
						<div class="video">
							<iframe height="300" src="http://player.vimeo.com/video/92141950?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="500" ></iframe>
						</div>
					</div>
					<div class="clear"></div>
				</div>

			</div>
		</div>
	</div>
	FAQ CONTENT -->

<section id="services2">
		<div class="container">

			<div class="content-head">
				<h3>Какие проблемы решает DocTravel</h3>
				<p>DocTravel - это аналог Booking.com в сфере медецинского туризма.</p>
			</div>

			<div class="row">
				<div class="col-md-4">
					<img src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Clock-Back-icon.png" class="sandwich">
					<div class="sc2-inner">
						<h4>Время</h4>
						<p>Существенное сокращение времени поиска предложения, интересующего пациента</p>
					</div>
				</div>
				<div class="col-md-4">
					<img src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Affiliate-icon.png" class="sandwich">
					<div class="sc2-inner">
						<h4>Комплексность</h4>
						<p>Комплексная организация поездки на лечение за рубеж</p>
					</div>
				</div>
				<div class="col-md-4">
					<img src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Approved-Window-icon.png" class="sandwich">
					<div class="sc2-inner">
						<h4>Умный поиск</h4>
						<p>Система предлагает в первую очередь наиболее подходящие варианты для каждого случая</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Business-Mens-icon.png" class="sandwich">
					<div class="sc2-inner">
						<h4>Все равны</h4>
						<p>Равные условия клиентского поиска для всех клиник, независимо от рекламного бюджета</p>
					</div>
				</div>
				<div class="col-md-4">
					<img src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Computer-Secure-icon.png " class="sandwich">
					<div class="sc2-inner">
						<h4>Конфиденциальность</h4>
						<p>Данные пользователей надежно защищены и недоступны для третьих лиц</p>
					</div>
				</div>
				<div class="col-md-4">
					<img src="http://icons.iconarchive.com/icons/iconsmind/outline/256/Phone-2-icon.png" class="sandwich">
					<div class="sc2-inner">
						<h4>Поддержка</h4>
						<p>Широкая сеть офлайн-представительств и компетентная работа службы поддержки</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="wrap-content" style="background: url(http://cdn.wall-pix.net/albums/art-abstract/00003524.jpg)">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2>Доступен с любого устройства или ПК</h2>

					<p class="lead">Мы используем интеллектуальную систему поиска и подбора оптимальных вариантов с учетом всех Ваших пожеланий.</p>

					<ul style="color: #fff;">

						<li>- Удобный адаптивный дизайн</li>
						<li>- Высокая скорость загрузки сайта</li>
						<li>- Мобильное приложение для iOS и Android</li>
					</ul>

					<div class="clearfix space10"></div>


				</div>
				<div class="col-md-7">
					<img class="img-responsive" src="images/xtra/2.png" alt="">
				</div>
			</div>
		</div>
	</div>


	<!-- INFO BOXES -->
	<section class="info-content">
		<div class="container">
			<div class="content-head">
				<h3>Как работает DocTravel?</h3>
				<p>Все просто, как 1-2-3</p>
			</div>
			<div class="row" style="text-align: center;">
				<div class="col-md-4 ic-inner">
					<img src="images/s1.png" class="krug" alt=""/>
					<h4>1. Поиск по критериям</h4>
					<p> Идентификация пользователя: страна, пол, возраcт, статус, предпочтения. Быстрый подбор типа лечебной услуги и варианты клиник, построение маршрута и  расчет общего бюджета поездки </p>
				</div>
				<div class="col-md-4 ic-inner">
					<img src="images/s2.jpg" class="krug" alt=""/>
					<h4>2. Сравнение и детализация</h4>
					<p>Сравнение результатов  поиска, рейтингов, отзывов. Заполнение формы запроса  и отправка выбранным клиникам. </p>
				</div>
				<div class="col-md-4 ic-inner">
					<img src="images/s3.jpg"class="krug" alt=""/>
					<h4>3. Бронирование визита</h4>
					<p>Принятие решения о покупке - отказе от услуги, aналитика для клиники кто и чем интересовался. </p>
				</div>
			</div>
		</div>
	</section>
	<!-- INFO BOXES -->

<div class="wrap-content wrap-content1">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="img-responsive" src="images/quote/1.png" alt="">
				</div>
				<div class="col-md-7">
					<h2>Преимущества для клиник</h2>
									<img src="http://prazdniksegodnja.ru/img/9/9/2.jpg" class="sandwich2">
					<p class="lead">Удобство поиска и функции сервиса будут магнитом для пациентов, которые ищут лучшее предложение для лечения за границей. </p>

									<img src="http://prazdniksegodnja.ru/img/9/9/2.jpg" class="sandwich2">
						<p class="lead">В результатах поиска пациент увидит вас на абсолютно равных позициях с лидерами рынка без дополнительных затрат с вашей стороны – качество сервиса выходит на первое место.</p>

									<img src="http://prazdniksegodnja.ru/img/9/9/2.jpg" class="sandwich2">
					<p class="lead"> Размер рекламного бюджета теперь не является главным инструментом привлечения пациентов. Вы платите только за реальных клиентов, которые заинтересовались именно вашим предложением.<br><br> <b style="color: #333; margin-left: 70px;">При этом первых 5 клиентов вы получаете бесплатно!</b></p>

									<img src="http://prazdniksegodnja.ru/img/9/9/2.jpg" class="sandwich2">
					<p class="lead">Сервис предоставляет также аналитические данные, которые позволят вам лучше понять потребности ваших клиентов.</p>
				</div>
			</div>
		</div>
	</div>


	<!-- WRAP INFO -->
	<div class="wrap" style="background: url(http://cdn.wall-pix.net/albums/art-abstract/00003524.jpg)">
		<div class="container">
			<div class="col-md-12">
				<h3>Скачайте презентацию сервиса DocTravel</h3>
				<p>Хотите инвестировать в проект или стать нашим партнером? <br> Будем рады познакомить Вас с нашими планами.</p>
				<a href="javascript:void(0)" data-reveal-id="myModal" data-animation="fade"><span data-hover="Скачать презентацию DocTravel">Скачать презентацию</span></a>
				<em>Ваши личные данные в безопасности</em>
			</div>
		</div>
	</div>
	<!-- WRAP INFO -->


	<!-- FOOTER / COPYRIGHT -->
	<div class="footer-copy">
		<div class="container">

			<div class="row">
				<div class="col-md-7">
					<p>&copy; 2015. DocTravel. Все права защищены.</p>
				</div>

				<div class="col-md-5">
					<a class="backtotop page-scroll" href="#page-top">Вернуться наверх &Delta;</a>
				</div>

				<div class="col-md-12">
					<p style="text-align: center; margin-top: -25px; font-size: 20px;color: #333;font-weight: bold;">info@doctravel.com</p>
				</div>

			</div>

		</div>
	</div>
	<!-- FOOTER / COPYRIGHT -->
    <div id="myModal" class="reveal-modal">
        <h1>Заполните форму для получения доступа к скачиванию презентации</h1>
        <form action="/thanksru" method="post">
            <input type="text" name="email" placeholder="Введите Ваш e-mail">
            <input type="submit" value="Отправить">
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>


<!-- <form action="/mail" method="post" >
  Name: <input type="text" name="name">
  Email: <input type="text" name="email">
  <input type="submit" value="Submit">
</form> -->

<!-- Javascript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/flex-slider/jquery.flexslider.js"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
<script src="js/slick/slick.js"></script>
<script src="js/jquery.prettyphoto.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="js/gmaps.js"></script>
<script src="js/contact.js"></script>
<script src="js/mc/jquery.ketchup.all.min.js"></script>
<script src="js/mc/main.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
<h1>Hi Sasha</h1>

<form action="/mail" method="post" >
  Name: <input type="text" name="name">
  Email: <input type="text" name="email">
  <input type="submit" value="Submit">
</form>


</body>
</html> -->
