

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="Медицинский туризм" />
	<meta name="description" content="Медицинский туризм в странах Европы и США">
	<meta name="author" content="Landing.ua">

		<title>DocTravel | Your personal access key to all foreign medicine    </title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=1280">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
		<script type="text/javascript" src="rvl/jquery.reveal.js"></script>

				<!-- Attach our CSS -->
	  	<link rel="stylesheet" href="rvl/reveal.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="js/slick/slick.css"/>
	<link rel="stylesheet" href="js/flex-slider/flexslider.css"/>
	<link rel="stylesheet" href="js/owl-carousel/owl.carousel.css"/>
	<link rel="stylesheet" href="js/owl-carousel/owl.theme.css"/>
	<link rel="stylesheet" href="js/owl-carousel/owl.transitions.css"/>
	<link rel="stylesheet" href="css/prettyphoto.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- SKIN -->
	<link rel="stylesheet" title="blue" href="css/colors/skin-blue2.css"/>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- MODERNIZR -->
	<script src="js/modernizr.custom.js"></script>

</head>
<body id="page-top">

	<div id="body">

		<!-- HEADER -->
		<header>
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-top">
				<div class="container">
					<div class="col-md-12">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header page-scroll">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">DocTravel</a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a target="_blank" href="https://www.facebook.com/pages/Doctravel/897127303655217">FB</a></li>
								<li><a target="_blank" href="http://vk.com/doctravel">VK</a></li>

							<li style="margin-top: 22px; color: #fff;">info@doctravel.com</li>
							<li><a href="/indexru">Русский</a></li>
							<li><a href="/">English</a></li>
								<li><a href="javascript:void(0)" data-reveal-id="myModal" data-animation="fade">Download presentation</a></li>

							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
				</div>
			</nav>
		</header>

	<!-- INTRO -->
	<section id="intro" class="intro3">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8">
							<h2 style="text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.46);">Thank you! The link to the presentation was sent to your email.</h2>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<!-- FOOTER / COPYRIGHT -->
	<div class="footer-copy">
		<div class="container">

			<div class="row">
				<div class="col-md-7">
					<p>&copy; 2015. DocTravel. All rights reserved.</p>
				</div>

				<div class="col-md-5">
					<a class="backtotop page-scroll" href="#page-top">Back to top &Delta;</a>
				</div>

				<div class="col-md-12">
					<p style="text-align: center; margin-top: -25px; font-size: 20px;color: #333;font-weight: bold;">info@doctravel.com</p>
				</div>

			</div>
		</div>
	</div>
	<!-- FOOTER / COPYRIGHT -->
    <div id="myModal" class="reveal-modal">
          <h1>Fill out the form below to download the presentation</h1>
        <form action="/thankseng" method="post">
            <input type="text" name="email" placeholder="Введите Ваш e-mail">
            <input type="submit" value="Отправить">
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>


<!-- <form action="/mail" method="post" >
  Name: <input type="text" name="name">
  Email: <input type="text" name="email">
  <input type="submit" value="Submit">
</form> -->

<!-- Javascript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/flex-slider/jquery.flexslider.js"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
<script src="js/slick/slick.js"></script>
<script src="js/jquery.prettyphoto.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="js/gmaps.js"></script>
<script src="js/contact.js"></script>
<script src="js/mc/jquery.ketchup.all.min.js"></script>
<script src="js/mc/main.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>
